<div>
  <h4><%= @school.name %>订单</h4>
  <% form_for(:order_item,:url=>{:action=>'update',:id=>@order_item},:html=>{:class=>'form-horizontal'}) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paper_order_id%>
  <%= f.hidden_field :school_id%>
  <span>高一 （输入数量为试卷份数）</span>
  <div class="control-group">
<label class="control-label" for="inputEmail">语文</label>
<div class="controls">
  <%= f.text_field :g1yw %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">数学</label>
<div class="controls">
  <%= f.text_field :g1sx %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">英语</label>
<div class="controls">
  <%= f.text_field :g1yy %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">物理</label>
<div class="controls">
  <%= f.text_field :g1wl %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">化学</label>
<div class="controls">
  <%= f.text_field :g1hx %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">生物</label>
<div class="controls">
  <%= f.text_field :g1sw %>

</div>
</div>
<div class="control-group">
<label class="control-label" for="inputEmail">政治</label>
<div class="controls">
  <%= f.text_field :g1zz %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">历史</label>
<div class="controls">
  <%= f.text_field :g1ls %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">地理</label>
<div class="controls">
  <%= f.text_field :g1dl %>

</div>
</div>
  <span>
    高二 (输入数量为考生人数）
  </span>

<div class="control-group">
<label class="control-label" for="inputEmail">文科</label>
<div class="controls">
  <%= f.text_field :g2w %>

</div>
</div>
  <div class="control-group">
<label class="control-label" for="inputEmail">理科</label>
<div class="controls">
  <%= f.text_field :g2l %>

</div>
</div>
      <div class="form-actions">
    <button type="submit" class="btn btn-primary">提交订单</button>
    <button type="button" class="btn">取消</button>
    </div>
  <% end %>
</div>
