<div class="well">
  <span  >
    <p class="text-warning" style="color: red;">
    <i class=" icon-shopping-cart "></i>
    订单列表
    </p>
  </span>
  <ul>


  <% @paper_orders.each do |paper_order| %>
    <li>
      <%= paper_order.name %> <%= "(已关闭)" if ! paper_order.state? %> |
      <% if order=@school.order_items.find_by_paper_order_id(paper_order.id) %>
      <%= link_to "查看订单",:action=>'show',:id=>order.id  %>
      <%= "<span class='label label-important'>未确认</span>" if ! order.confirmed? %>
      <% else %>
      <%= link_to "新建订单",:action=>'new',:paper_order_id=>paper_order if paper_order.state? %>
      <% end %>
      
    </li>

  <% end %>
    </ul>
</div>
<div style="padding-top: 20px;">
  <%= render '/share/order_help' %>
</div>