<div class="row-fluid">
  <div class="span3">
    <%= render :partial=>'/admin/left'  %>
  </div>
  <div class="span9">
   <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">订单管理</a>

        <ul class="nav">
          <% if current_user.qx_id.nil? %>
        <li class="active">
            <%= link_to '全部订单',:controller=>'paper_orders' %>
          </li>
          <li>
            <a  href="/paper_orders/new">发布新订单</a>
          </li>
          <% end %>
          <li class="dropdown " >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @paper_order ? @paper_order.name : '请选择试卷'%>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% @paper_orders.each do |paper_order| %>
                <li>
                  <%= link_to paper_order.name,paper_order_order_items_path(paper_order) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>


<table class="table table-bordered">
  <tr>
    <th>名称</th>
    <th>类型</th>
    <th>已提交的订单</th>
    <th>状态</th>
    <th>操作</th>
  </tr>

<% @paper_orders.each do |paper_order| %>
  <tr>
    <td><%=h paper_order.name %></td>
    <td>
        <%=h PaperOrder.types_hash[paper_order.item_type] %>
      
    </td>
    <td>
      <%= link_to paper_order.order_items.size,paper_order_order_items_path(paper_order) %>
    </td>
    <td>
      <%= paper_order.state? ? '可提交' : "关闭" %>
    </td>
    <td><%= link_to '查看', paper_order_order_items_path(paper_order) %></td>
    <td><%= link_to '编辑', edit_paper_order_path(paper_order) %></td>
    <td><%= link_to '删除', paper_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

  </div>
</div>
