<h1>Listing paper_orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Item type</th>
  </tr>

<% @paper_orders.each do |paper_order| %>
  <tr>
    <td><%=h paper_order.name %></td>
    <td><%=h paper_order.item_type %></td>
    <td><%= link_to 'Show', paper_order %></td>
    <td><%= link_to 'Edit', edit_paper_order_path(paper_order) %></td>
    <td><%= link_to 'Destroy', paper_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New paper_order', new_paper_order_path %>