<div class="row-fluid">
  <div class="span3">
    <%= render :partial=>'/admin/left'  %>
  </div>
  <div class="span9">
   <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">订单管理</a>

        <ul class="nav">
          <% if current_user.qx_id.nil? %>
        <li >
            <%= link_to '全部订单',:controller=>'paper_orders' %>
          </li>
          <li class="active">
            <a  href="/paper_orders/new">发布新订单</a>
          </li>
          <% end %>
          <li class="dropdown " >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= '请选择试卷'%>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% @paper_orders.each do |paper_order| %>
                <li>
                  <%= link_to paper_order.name,paper_order_order_items_path(paper_order) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <div class="well">

<% form_for(@paper_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <label>名称</label><br />
    <div class="input-append">
      <input class="span2" id="appendedInput" type="text" name="paper_order[name]" />
      <span class="add-on">教学质量监测方案试题订单</span>
      </div>
    <%#= f.text_field :name %>
  </p>
  <p>
    <label>类型</label><br />
    <%= f.select :item_type,PaperOrder::ORDER_TYPES %>
  </p>
  <p>
    <label>订单状态</label><br />
    <%= f.select :state,PaperOrder::ORDER_STATES %>
  </p>
  <p>
    <%= f.submit '发布' %>
  </p>
<% end %>
  </div>

<%= link_to 'Back', paper_orders_path %>

  </div>
</div>
