<div class="row-fluid">
  <div class="span3">
    <%= render :partial=>'/admin/left'  %>
  </div>
  <div class="span9">
   <div class="page-header">
      <h1>试卷订单管理</h1>
    </div>
    <div style="padding: 10px;"  class="btn-group">
      <a class="btn" href="/paper_orders">全部</a>
      <a class="btn" href="/paper_orders/new">发布</a>
    </div>

    <div class="well">

<% form_for(@paper_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <label>名称</label><br />
    <div class="input-append">
      <input class="span2" id="appendedInput" type="text" name="paper_order[name]" />
      <span class="add-on">教学质量监测方案试题订单</span>
      </div>
    <%#= f.text_field :name %>
  </p>
  <p>
    <label>类型</label><br />
    <%= f.select :item_type,PaperOrder::ORDER_TYPES %>
  </p>
  <p>
    <label>订单状态</label><br />
    <%= f.select :state,PaperOrder::ORDER_STATES %>
  </p>
  <p>
    <%= f.submit '发布' %>
  </p>
<% end %>
  </div>

<%= link_to 'Back', paper_orders_path %>

  </div>
</div>
